$foreground: #abb2bf;
$background: #1e222a;

$background-bright: #21252d;

$black: #1e222a;
$red: #ce6973;
$green: #9fc37f;
$yellow: #d2bf98;
$blue: #6699cc;
$magenta: #c594c5;
$magenta-bright: #d5a4c5;
$cyan: #56b6c2;
$orange: #e7ab83;
$white: #abb2bf;
