$foreground: #bbc2cf;
$background: #2a303c;

$background-bright: #2f3541;

$black: #2E3440;
$red: #BF616A;
$green: #A3BE8C;
$yellow: #EBCB8B;
$blue: #97b7d7;
$magenta: #B48EAD;
$magenta-bright: #E4BEDD;
$cyan: #81A1C1;
$orange: #D08770;
$white: #CED4DF;
