$foreground: #CED4DF;
$background: #1A1A25;

$background-bright: #1D1D28;

$black: #1E1D2D;
$red: #EBB9B9;
$green: #B1DBA4;
$yellow: #E6DFB8;
$blue: #CDDBF9;
$magenta: #E6BBE7;
$magenta-bright: #FCBFEA;
$cyan: #B8DCEB;
$orange: #EAC1C1;
$white: #CED4DF;
